body {
  padding: 0;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  height: 100%;
  background-color: rgb(18, 2, 54);
}

.container {
  display: block;
  height: auto;
  height: 100%;
  margin: 0 auto; 
}

.bg {
  position: absolute;
  min-height: 100% ;
  width: 100%;
  z-index: 0;
}

.ibg-bg {
  position: absolute;
}

.menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.600);
  font-family: 'Press Start 2P', cursive;
  top: 0;
  width: 100%;
  z-index: 999;
}

.menu a {
  float: left;
  color: aliceblue;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 1.3vw;
}

.menu a:hover, .submenu:hover .submenubtn {
  background-color: rgba(247, 231, 9, 0.60);
  color: black;
}

.menu a.active {
  background-color: rgba(247, 231, 9, 0.60);
  color: deepskyblue;
}

.menu .icon {
  display: none;
}

.menu-centered a{
  background-color: rgba(195, 51, 224, 0.459);
  position: absolute;
  float: none;
  padding: 0;
  top:27.2px;
  left:50%;
  transform: translate(-50%, -50%);
}

.menu-right {
  float: right;
}

.submenu {
  float: left;
  position: relative;
}

.submenu .submenubtn {
  font-size: 1.3vw;  
  border: none;
  outline: none;
  color:aliceblue;
  padding: 15px 15px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.submenu-content {
  display: none;
  position: absolute;
  background-color: #272626a6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu-content a {
  font-size: 1vw;
  float: none;
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.submenu-content a:hover {
  background-color: rgba(247, 231, 9, 0.60);
  color: black
}

.submenu:hover .submenu-content {
  display: block;
  width: 100%;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .menu a, .menu-right, .submenu .submenubtn {
    display: none;
    float: none;
  }
  
  .menu-centered a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: none;
  }

  .menu a.icon {
    float: right;
    display: block;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .menu.responsive {
    position: fixed;
  }

  .menu.responsive .menu-right {
    display: block;
    float: none;
  }
  
  .menu.responsive .submenu .submenubtn {
    display: block;
    width: 100%;
    text-align: center;
    float: none;
  }

  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu.responsive .menu-centered img {
    position: relative;
    top: 35%;
  }

  .menu.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .menu.responsive .submenu {
    float: none;
  }

  .menu.responsive .submenu-content {
    position: absolute;
  }
}


#header {
  display: block;
  top: 20%;
  font-size: 150px;
  color: aliceblue;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
  position: relative;
  font-family: 'East Sea Dokdo', cursive;
}

footer {
  display: block;
  float: bottom;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.600);
  bottom: 0;
}

p {
  float: left;
  text-align: center;
  margin: 2px;
  padding: 5px;
  font-size: 1em;
  color: aliceblue;
}